{
  "timeout": 10,
  "source": {
    "directories": [
      "src"
    ]
  },
  "phpUnit": {
    "configDir": "."
  },
  "logs": {
    "text": "build/logs/infection/general.log",
    "summary": "build/logs/infection/summary.log",
    "debug": "build/logs/infection/debug.log",
    "badge": {
        "branch": "develop"
    }
  },
  "tmpDir": "build/cache",
  "mutators": {
    "@default": true
  }
}
