<?xml version="1.0"?>
<ruleset name="Shrikeh" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/squizlabs/php_codesniffer/phpcs.xsd">
  <config name="testVersion" value="8.0-"/>
  <config name="installed_paths" value="vendor/phpcompatibility/php-compatibility" />
  <rule ref="PSR12" />
  <rule ref="PHPCompatibility"/>
  <file>application</file>
  <file>tests</file>
  <exclude-pattern>*.js</exclude-pattern>
  <exclude-pattern>.phan/*</exclude-pattern>
  <!-- Wherever Symfony stores the precompiled container, we don't care about it -->
  <exclude-pattern>*/cache/*</exclude-pattern>
  <!-- phpspec uses it's very own special coding standard -->
  <exclude-pattern>*/spec/*</exclude-pattern>
  <arg name="basepath" value="."/>
  <arg name="cache" value=".phpcs-cache"/>
  <arg name="colors"/>
  <arg name="extensions" value="php"/>
</ruleset>
